{% macro field(name, value='', type='text') %}
<div class="field">
  <input type="{{ type }}" name="{{ name }}"
         value="{{ value | escape }}" />
</div>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <form action="/interaction/TODO/login"></form>
        {{ field('email') }}
        {{ field('password', type='password') }}
        <h2>Debug:</h2>
        <h3>Session object</h3>
        <p>{{debug}}</p>
        <h3>interaction object in session</h3>
        <p>{{interaction}}</p>
    </body>
</html>